<div class="max-w-4xl mx-auto p-6 bg-white shadow rounded">
  <h2 class="text-2xl font-bold mb-2">{{ project()?.name }}</h2>
  <p class="text-gray-600 mb-4">{{ project()?.description }}</p>

  <div class="mb-4">
    <span class="text-sm text-gray-500">
      Creado el: {{ project()?.created_at | date:'medium' }}
    </span>
    <br />
    <span class="text-sm text-gray-500">
      ID Proyecto: {{ project()?.id }}
    </span>
  </div>

  <div class="flex">
      <h3 (click)="seleccion = 'members'" class="text-lg font-semibold mb-2">Members </h3> / <h3 class="text-lg font-semibold mb-2" (click)="seleccion = 'tasks'"> Tasks</h3>
  </div>

  <div class="overflow-x-auto border rounded">
    <!-- relleno -->

    @if(seleccion === 'members'){
      <app-members [project]="project()"></app-members>
    }@else{
      <app-tasks [project]="project()"></app-tasks>
    }

  </div>
</div>



@if ((sharedService.modal$ | async) === 'addMember' ){
  <app-modal >  
     <app-add-new-member [projectId]="project()?.id ?? ''"></app-add-new-member>
  </app-modal>
}

@if ((sharedService.modal$ | async) === 'addTask' ){
  <app-modal >  
    <app-add-new-task [projectId]="project()?.id ?? ''"></app-add-new-task>
  </app-modal>
}


@if ((sharedService.modal$ | async) === 'deleteMember' ){
  <app-modal >  
    <app-delete-member></app-delete-member>>
  </app-modal>
}
