<div class=" mx-auto p-8 bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl shadow-xl">
  <!-- Nombre y descripción -->
  <h2 class="text-3xl font-bold mb-2 text-white">{{ project()?.name }}</h2>
  <p class="text-gray-200 mb-6">{{ project()?.description }}</p>

  <!-- Metadata -->
  <div class="mb-6 space-y-1">
    <span class="block text-sm text-gray-400">
      Creado el: {{ project()?.created_at | date:'medium' }}
    </span>
    <span class="block text-sm text-gray-400">
      ID Proyecto: {{ project()?.id }}
    </span>
  </div>

  <!-- Tabs -->
  <div class="flex items-center gap-4 mb-4">
    <h3
      (click)="seleccion = 'members'"
      class="cursor-pointer text-lg font-semibold px-3 py-1 rounded-lg transition
          hover:bg-white/10 hover:text-purple-400"
      [class.text-purple-400]="seleccion === 'members'"
    >
      Members
    </h3>
    <span class="text-gray-500">/</span>
    <h3
      (click)="seleccion = 'tasks'"
      class="cursor-pointer text-lg font-semibold px-3 py-1 rounded-lg transition
            hover:bg-white/10 hover:text-purple-400"
      [class.text-purple-400]="seleccion === 'tasks'"
    >
      Tasks
    </h3>
  </div>

  <!-- Contenido dinámico -->
  <div class="overflow-x-auto border border-white/20 rounded-xl bg-white/5 p-4">
    @if(seleccion === 'members'){
      <app-members [project]="project()"></app-members>
    } @else {
      <app-tasks [project]="project()"></app-tasks>
    }
  </div>
</div>

<!-- Modales -->
@if ((sharedService.modal$ | async) === 'addMember' ){
  <app-modal>
    <app-add-new-member></app-add-new-member>
  </app-modal>
}

@if ((sharedService.modal$ | async) === 'addTask' ){
  <app-modal>
    <app-add-new-task></app-add-new-task>
  </app-modal>
}

@if ((sharedService.modal$ | async) === 'deleteMember' ){
  <app-modal>
    <app-delete-member></app-delete-member>
  </app-modal>
}

@if ((sharedService.modal$ | async) === 'deleteTask' ){
  <app-modal>
    <app-delete-task [projectId]="project()?.id"></app-delete-task>
  </app-modal>
}