
  <button (click)="sharedService.open('addTask')">add Task</button>

  
 <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Title</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Description</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Status</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Priority</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
      
        @for (task of tasks$ | async; track task.id) {
          <tr class="hover:bg-gray-50">
            <td class="px-4 py-2 text-gray-700">{{ task.title }}</td>
            <td class="px-4 py-2 font-medium text-gray-900">{{ task.description }}</td>
            <td class="px-4 py-2 text-gray-500">{{ task.status_name }}</td>
            <td class="px-4 py-2 text-gray-500">{{ task.priority_name }}</td>
            <td><button (click)="sharedService.setData(task);sharedService.open('deleteTask')">quitar tarea</button></td>
          </tr>
        }
        @empty {
          <tr>
            <td colspan="3" class="px-4 py-4 text-center text-gray-500">
              No hay tareas en este proyecto.
            </td>
          </tr>
        } 
      </tbody>
    </table>

