<div class="p-6 bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl shadow-xl max-w-md mx-auto">
  <!-- Header -->
  <h2 class="text-2xl font-bold mb-6 text-white">Add new Member</h2>

  <!-- Body -->
  <div>
    <!-- Email -->
    <div class="mb-4">
      <label class="block text-gray-200 mb-2">Correo electrónico</label>
      <input
        [(ngModel)]="email"
        type="email"
        class="w-full px-3 py-2 border border-white/20 rounded-lg bg-white/5 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
        placeholder="ejemplo@correo.com"
      />
    </div>

    <!-- Rol -->
    <div class="mb-4">
      <label class="block text-gray-200 mb-2">Rol</label>
      <select
        [(ngModel)]="role"
        class="w-full px-3 py-2 border border-white/20 rounded-lg bg-white/5 text-white focus:outline-none focus:ring-2 focus:ring-purple-500"
      >
        <option value="" disabled selected>-- Selecciona un rol --</option>
        @for (item of roles; track item) {
          <option [value]="item" class="text-black">{{ item }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Footer -->
  <div class="flex justify-end space-x-3 mt-6">
    <button
      (click)="onCancel()"
      class="px-4 py-2 bg-white/10 border border-white/20 text-gray-200 rounded-lg hover:bg-white/20 transition"
    >
      Cancelar
    </button>
    <button
      (click)="onSave()"
      class="px-4 py-2 bg-linear-to-r from-green-500 to-emerald-600 text-white font-semibold rounded-lg shadow hover:brightness-110 transition"
    >
      Agregar
    </button>
  </div>
</div>