<div class="p-6 bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl shadow-xl max-w-md mx-auto">
  <!-- Header -->
  <h2 class="text-2xl font-bold mb-4 text-white">¿Está seguro de eliminar este miembro?</h2>

  <!-- Body -->
  <div class="space-y-2 text-gray-200">
    <p><span class="font-semibold text-purple-400">Role:</span> {{ data?.member.role }}</p>
    <p><span class="font-semibold text-purple-400">Email:</span> {{ data?.member.user.email }}</p> 
    <p><span class="font-semibold text-purple-400">Name:</span> {{ data?.member.user.name }}</p> 
  </div>

  <!-- Footer -->
  <div class="flex justify-end space-x-3 mt-6">
    <button
      (click)="onCancel()"
      type="button"
      class="px-4 py-2 bg-white/10 border border-white/20 text-gray-200 rounded-lg hover:bg-white/20 transition"
    >
      Cancelar
    </button>
    <button
      (click)="onDelete()"
      type="submit"
      class="px-4 py-2 bg-linear-to-r from-red-500 to-red-700 text-white font-semibold rounded-lg shadow hover:brightness-110 transition"
    >
      Eliminar
    </button>
  </div>
</div>